<div class="flex w-full justify-end mx-auto">
  <a routerLink="/" class="flex items-center cursor-pointer">
    <span class="text-2xs align-middle uppercase">My Account</span>
    <!-- UPDATE title -->
    <img
      src="../assets/img/icons/mexican-man.png"
      class="h-8"
      loading="lazy"
      alt="user"
      title="UserName"
    />
  </a>
  <a routerLink="/" class="cursor-pointer">
    <!-- UPDATE title -->
    <img
      src="../assets/img/icons/shopping-cart.png"
      class="h-8"
      loading="lazy"
      alt="Shopping Cart"
      title="Shopping Cart"
    />
  </a>
</div>
