.ms-login {
  height: 90vh;
}

.bg-image {
  background: url('https://cdn.vox-cdn.com/thumbor/wdyWEHcFb88uZzUUnWEee4g9lGA=/0x0:1024x683/1200x900/filters:focal(431x261:593x423)/cdn.vox-cdn.com/uploads/chorus_image/image/54807847/Borracha_overhead.11.jpg')
    no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
