<div
  class="not-found flex flex-col w-full px-2 sm:px-0 mt-4 md:mt-24 font-extralight text-lg md:text-3xl text-center"
>
  <span class="text-5xl md:text-8xl py-3 uppercase">Guacamole!</span>
  <span class="py-3">Sorry, looks like something went wrong..</span>
  <span class="py-3"
    >The page you where looking for could not be found, <br />
    probably drank a little too much <a routerLink="/">tequila</a>
  </span>

  <span class="py-5 md:pt-10"
    >Hop on on Pancho the donkey to go back to the home page</span
  >
  <a routerLink="/">
    <img
      src="../assets/img/icons/donkey.png"
      class="h-20 md:h-36 mx-auto"
      loading="lazy"
      alt="Donkey"
      title="Pancho"
    />
  </a>
</div>
