.ms-login {
  height: 90vh;
}

.bg-image {
  background: url('../../../../assets/img/images/calaveras-mercado.jpg')
    no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
